@tailwind base;
@tailwind components;
@tailwind utilities;

#product-slider {
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.product-item {
    min-width: 300px;
}

#category-slider {
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
    padding-bottom: 1rem;
}

/* Hide scrollbar for WebKit browsers */
#category-slider::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for Firefox */
#category-slider {
    scrollbar-width: none;
}
